/* Language: css */
/* Path: style.css */
body {
  background-color: lightgray;
  position:relative;
  font-size: xx-large;
}

.skive {
  background-color: rgb(120,120,120);
  border-radius: 50%;
  border: 2px solid black;
}

.hover:hover {
  background-color: rgb(150,150,150);
}

.shop:hover {
  background-color: rgb(150,150,150) !important;
}